<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMART_PARKING"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".features.profile.presentation.ui.admin.AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".features.profile.presentation.ui.admin.TermOfUseActivity"
            android:exported="false" />
        <activity
            android:name=".features.profile.presentation.ui.admin.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".features.management.presentation.ui.members.MembersActivity"
            android:exported="false" />
        <activity
            android:name=".features.management.presentation.ui.registerd_card.RegisteredCardsActivity"
            android:exported="false" />
        <activity
            android:name=".features.management.presentation.ui.registration_requests.RegistrationRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".features.user_profile.presentation.ui.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.presentation.ui.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".features.profile.presentation.ui.user.SupportCenterActivity"
            android:exported="false" />
        <activity
            android:name=".features.dashboard.presentation.ui.user.register_card.RegisterCardActivity"
            android:exported="false" />
        <activity
            android:name=".features.app_system.settings.presentation.ui.SecuritySettingsActivity"
            android:exported="false" />
        <activity
            android:name=".features.app_system.settings.presentation.ui.NotificationSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".features.payment.presentation.ui.pay_history.PayHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".features.payment.presentation.ui.pay_debt.PayDebtActivity"
            android:exported="false" />
        <activity
            android:name=".features.payment.presentation.ui.PaymentWebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".features.payment.presentation.ui.AllDebtHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".features.notification.presentation.ui.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".features.history.presentation.ui.HistoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".features.app_system.language.presentation.ui.ChangeLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".features.main.ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SMART_PARKING_SPLASH">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".features.app_system.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>